@import "compass/css3";

// variables

$main-green:#87b840;

.pv-30{
  padding: 30px 0;
}

// index

//  0. OVERRIDES
//  1. HOME

// /index

//  0. OVERRIDES
label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  color:#979797;
}

.navbar{
  margin: 0;
  }

// 1. HOME

header{
  &.main{
    background:$main-green;
    min-height: 365px;
    width: 100%;
  }
}

/// 1. HOME

