<header class="main">
		<h1 class="text-center ptv-50 white no-margin">Select <span class="lg-green light">an option</span></h1>
		<p class="text-center white">Lorem ipsum dolor sit amet, go consectetur adipiscing elit. </p>
		
		<div class="row">
			<div class="col-md-8 center">
				<ul class="menu">
					<li><a href=""><span></span> <span class="text">Retail Loan</span></a></li>
					<li><a href=""><span></span> <span class="text">Renewal Loan</span></a> </li>
					<li><a href=""><span></span> <span class="text">New Loan</span></a></li>
				</ul>
			</div>
		</div>
</header>